@charset "utf-8";
/*============== sub common ==============*/
.sub .model_wrap .section_inner{overflow: hidden;}
.sub .model_wrap .text_box {float: left; width:60%; padding-top: 100px; padding-right: 50px; box-sizing: border-box;}
.sub .model_wrap .model_img_box{float: right; width:40%; text-align: right;}

/*============== aboutus ==============*/
.about_us .about_intro_wrap .video_wrap{width:50%; max-height: 317px;  overflow: hidden; background: #c4c4c4;}
.about_us .about_intro_wrap .video_desc_wrap{width:50%;}
.about_us .about_intro_wrap .s_title {margin-bottom: 20px;}
.about_us .about_intro_wrap .s_desc {line-height: 1.4;}
.about_us .partners_wrap .partners_cont ul{overflow: hidden; margin: -10px;}
.about_us .partners_wrap .partners_cont li {float: left; position: relative; width:16.6%; padding:10px; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li .img_item {position: relative; padding-top:50%; overflow: hidden; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li img{ position: absolute; top: 50%; right:0%; width: auto; height: auto; min-width: 100%; min-height: 100%; transform: translateY(-50%);}

/*============== classes ==============*/
.classes .visual_wrap{background:url('../images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}


/*============== all_elmentary_courses ==============*/
.all_elmentary_courses .visual_wrap{background:url('../images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}
.all_elmentary_courses .desc_box {margin-bottom: 40px;}
.all_elmentary_courses .desc_box strong {font-weight: 700;}
.all_elmentary_courses footer {margin-top: 0;}

@media screen and (max-width:1000px) {
	
	/*============== aboutus ==============*/
	.about_us .about_intro_wrap .video_wrap {width:100%;}
	.about_us .about_intro_wrap .video_desc_wrap {width:100%; padding-left: 0;}
	.about_us .partners_wrap .partners_cont li {width:25%;}
}

@media screen and (max-width:768px) {
	/*============== sub common ==============*/
	.sub .model_wrap .text_box {float: none; width:100%; margin-bottom: 40px; padding-right: 0; padding-top: 0; text-align: center;} 
	.sub .model_wrap .model_img_box{float: none; width:100%; text-align: center;}
	
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont li {width:33.33%;}
	/*============== all_elmentary_courses ==============*/
	.all_elmentary_courses .courses_wrap > div {margin-bottom: 0;}
}

@media screen and (max-width:640px) {
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont ul {margin: -5px;}
	.about_us .partners_wrap .partners_cont li {width:50%; padding:5px;}
	.locations_cont .swiper-container {margin:0 34px;}
}