@charset "utf-8";
/*============== sub common ==============*/
.sub .model_wrap .section_inner{overflow: hidden;}
.sub .model_wrap .text_box {float: left; width:60%; padding-top: 100px; padding-right: 50px; box-sizing: border-box;}
.sub .model_wrap .model_img_box{float: right; width:40%; text-align: right;}

/*============== aboutus ==============*/
.about_us .about_intro_wrap .video_wrap{width:50%; max-height: 317px;  overflow: hidden; background: #c4c4c4;}
.about_us .about_intro_wrap .video_desc_wrap{width:50%;}
.about_us .about_intro_wrap .s_title {margin-bottom: 20px;}
.about_us .about_intro_wrap .s_desc {line-height: 1.4;}
.about_us .partners_wrap .partners_cont ul{overflow: hidden; margin: -10px;}
.about_us .partners_wrap .partners_cont li {float: left; position: relative; width:16.6%; padding:10px; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li .img_item {position: relative; padding-top:50%; overflow: hidden; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li img{ position: absolute; top: 50%; right:0%; width: auto; height: auto; min-width: 100%; min-height: 100%; transform: translateY(-50%);}

/*============== classes ==============*/
.classes .visual_wrap{background:url('../images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}


/*============== all_elmentary_courses ==============*/
.all_elmentary_courses .visual_wrap{background:url('../images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}
.all_elmentary_courses .desc_box {margin-bottom: 40px;}
.all_elmentary_courses .desc_box strong {font-weight: 700;}
.all_elmentary_courses footer {margin-top: 0;}

/*============== class_datail ==============*/
.class_datail .title_box {margin-bottom: 30px;}
.class_datail .lesson_list_wrap {padding:40px 0 80px;background: #3a3a3a; color:#fff;}
.class_datail .lesson_list_wrap .desc{color:#fff;}
.class_datail .lesson_list_wrap .video_wrap {width:70%; padding-right: 1.5%;}
.class_datail .lesson_list_wrap .lesson_list ul{max-height: 380px; overflow-y: auto;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar { width: 15px;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar-thumb { background-color: #e5e5e5; border-radius: 10px;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar-track { background-color: #6b6b6b;}
.class_datail .lesson_list_wrap .lesson_list .title_r_03 {margin-bottom: 20px;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item{}
.class_datail .lesson_list_wrap .lesson_list .lesson_item.on{border-radius: 10px; border:1px solid #e5e5e5;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item a{display: block; overflow: hidden; padding:15px; margin-bottom: 5px; }
.class_datail .lesson_list_wrap .lesson_list .lesson_item p{font-size: 14px; color:#e5e5e5;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item .class_name{float: left;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item .class_time{float: right;}
.class_datail .lesson_desc_wrap .section_inner {position: relative; overflow: hidden;}
.class_datail .lesson_desc_wrap .enroll_btn {position: absolute; right:0; top:0;}
.class_datail .lesson_desc_wrap .tab_cont_area {float: left;width:60%; box-sizing: border-box; padding-right: 5%;}
.class_datail .lesson_desc_wrap .btn_box--right a {display: inline-block;}
.class_datail .lesson_desc_wrap .mentor_cont .cont {overflow: hidden;}
.class_datail .lesson_desc_wrap .mentor_cont .mentor_box {float: left;text-align: center;}
.class_datail .lesson_desc_wrap .mentor_cont .mentor_box img {border-radius: 50%;}
.class_datail .lesson_desc_wrap .mentor_cont .cont > p {padding-left: 30%;}
.class_datail .lesson_info_wrap {float: right; width:40%; border-bottom: 1px solid #e4e4e4; padding-bottom: 20px; margin-top: 60px;text-align: center;}
.class_datail .lesson_info_wrap .unit_txt {font-size: 16px;}
.class_datail .lesson_info_wrap .level_wrap  {display: inline-block;text-align: center;}
.class_datail .lesson_info_wrap .level_graph span{display: inline-block;width:10px; height: 30px; vertical-align: bottom; background: #c4c4c4; border-radius: 5px; margin-right: 5px;} 
.class_datail .lesson_info_wrap .level_graph span:nth-child(2) {height: 40px;}
.class_datail .lesson_info_wrap .level_graph span:nth-child(3) {height: 50px;}
.class_datail .lesson_info_wrap .level_graph .full {background: #f4b41b;}
.class_datail .lesson_info_wrap .student_wrap  {display: inline-block; margin-left: 80px;text-align: center;}
.class_datail .courses_wrap .title_r_02{ margin-bottom: 25px;}
.class_datail .courses_wrap .section_inner {padding-top: 30px;border-top: 1px solid #e4e4e4;}


/*============== careers ==============*/
.careers .visual_wrap {background:url('../images/sub/point-avenue/careers/careers_visual.png') center no-repeat; background-size: cover;}
.careers .visual_wrap .title_r_01 {color:#fff;}
.careers .offer_wrap .offer_list ul{overflow: hidden;margin-top: 40px;}
.careers .offer_wrap .offer_list ul li{position: relative;display: inline-block;float: left; width:25%; margin-bottom: 40px; font-size: 0; vertical-align: top;}
.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:27%;}
.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:23%;}
.careers .offer_wrap .offer_list ul li .title_r_03 {font-size: 19px;}
.careers .offer_wrap .offer_list .offer_icon_box {display: inline-block;width:35%; vertical-align: middle;}
.careers .offer_wrap .offer_list .text_box {display: inline-block;width:65%; vertical-align: middle;}
.careers .section_inner {overflow: hidden;}
.careers .process_step_list {position: relative; z-index: 10;}
.careers .process_step_list:after {content:''; display: block; clear: both;}
.careers .process_step_list .process_step_item{float: left; width:20%; position: relative;}
.careers .process_step_list .process_step_item .step {width:90%; margin:167px 0; background: #F2B41B; border-radius: 20px; text-align: center; padding:10px; font-size: 16px;}
.careers .process_step_list .tooltip_box{ position: absolute; left:50%; margin-left: -85px; bottom:230px; max-width: 170px; display: inline-block; padding:20px 10px 10px;  background: #f4f4f4; box-sizing: border-box; border-radius:0 20px 20px 20px;}
.careers .process_step_list .tooltip_box:after{ content:''; display: inline-block; position: absolute; left:50%; margin-left:-14px; width: 27px; height: 22px; background: url('../images/common/tooltip_arrow.png') no-repeat;}
.careers .process_step_list .tooltip_box .title_r_01 {position: absolute; left:0; top:-40px; color:#F2B41B;}
.careers .process_step_list .tooltip_box .title_r_03 {font-size: 16px;}
.careers .process_step_list .icon_box{position: absolute; bottom:50px; left:50%; transform: translateX(-50%);transform: -webkit-translateX(-50%);}
.careers .process_step_list .icon_box:before {content: ''; display: inline-block; height: 20px; border: 1px dashed #000; position: absolute; left: 50%; top: -36px;}
.careers .process_step_list .process_step_item:nth-child(2n) .tooltip_box {top:240px; bottom:auto; padding:10px 10px 30px; border-radius: 10px;}
.careers .process_step_list .process_step_item:nth-child(2n) .tooltip_box:after{top:-20px; transform: rotateX(-180deg)}
.careers .process_step_list .process_step_item:nth-child(2n) .icon_box {bottom:260px;}
.careers .process_step_list .process_step_item:nth-child(2n) .icon_box:before {top:auto; bottom:-36px;}
.careers .process_step_list .process_step_item:nth-child(2n) .title_r_01{top:auto; bottom:-40px;}
.careers .process_step_wrap {padding:20px 0 40px;}
.careers .process_step_wrap .swiper-container {overflow: inherit;}
.careers .process_step_wrap .swiper-pagination-progressbar {display: none;top:auto; bottom:-40px;}
.careers .process_step_wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ background: #F2B41B;}
.careers .open_position_wrap .section_inner {position: relative;}
.careers .open_position_wrap .btn_type_01.all {position: absolute; right:0; top:0;}
 
@media screen and (max-width:1200px) {
	.class_datail .lesson_desc_wrap .enroll_btn {right:40px;}
	.careers .open_position_wrap .btn_type_01.all {right:40px;} 
}
@media screen and (max-width:1000px) {
	
	/*============== aboutus ==============*/
	.about_us .about_intro_wrap .video_wrap {width:100%;}
	.about_us .about_intro_wrap .video_desc_wrap {width:100%; padding-left: 0;}
	.about_us .partners_wrap .partners_cont li {width:25%;}
	/*============== class_datail ==============*/
	.class_datail .lesson_list_wrap .video_wrap {float: none;width:100%; padding-right: 0;}
	.class_datail .lesson_list_wrap .lesson_list {margin-top: 20px; }
	.class_datail .lesson_desc_wrap .tab_cont_area {float: none; width: 100%; padding-right: 0;}
	.class_datail .lesson_info_wrap {float: none; width:100%;}
	.class_datail .project_desc_cont .btn_box--right {text-align: center; margin-top: 20px;}
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list .offer_icon_box {width:40%;}
	.careers .offer_wrap .offer_list .text_box {width:60%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:50%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:50%;}
	.careers .process_step_wrap .swiper-pagination-progressbar {display: block;}
	.careers .process_step_list .tooltip_box .title_r_01 {top:-20px;}
	.careers .process_step_list .process_step_item:nth-child(2n) .title_r_01 {bottom:-20px;}
}

@media screen and (max-width:768px) {
	/*============== sub common ==============*/
	.sub .model_wrap .text_box {float: none; width:100%; margin-bottom: 40px; padding-right: 0; padding-top: 0; text-align: center;} 
	.sub .model_wrap .model_img_box{float: none; width:100%; text-align: center;}
	
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont li {width:33.33%;}
	/*============== all_elmentary_courses ==============*/
	.all_elmentary_courses .courses_wrap > div {margin-bottom: 0;}
	
	/*============== class_datail ==============*/
	.class_datail .container > .lesson_desc_wrap {margin-top: 40px;}
	.class_datail .lesson_desc_wrap .enroll_btn {position: relative;width:100%;  right:auto; top:auto;}
	.class_datail .lesson_desc_wrap .tab_cont_area {margin-top: 40px;}
	.class_datail .lesson_desc_wrap .mentor_cont .mentor_box {float: none;}
	.class_datail .lesson_desc_wrap .mentor_cont .cont > p {padding-left: 0; margin-top: 30px;}
	.class_datail .project_desc_cont .btn_box--right {margin: 30px 0;}
	.class_datail .lesson_desc_wrap .btn_box--right a {width:100%;}
	
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list .offer_icon_box  {vertical-align: top;}
	.careers .offer_wrap .offer_list .offer_icon_box img{display: inline-block;width:70%; margin:0 auto; vertical-align: top;}
	.careers .open_position_wrap .btn_type_01.all {position: relative; right:0; width:100%; text-align: center;} 
}

@media screen and (max-width:640px) {
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont ul {margin: -5px;}
	.about_us .partners_wrap .partners_cont li {width:50%; padding:5px;}
	.locations_cont .swiper-container {margin:0 34px;}
	
	.class_datail .lesson_info_wrap .student_wrap {margin-left: 40px;}
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list ul li {min-height: 90px; margin-bottom: 20px; border-bottom: 1px solid #e4e4e4;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:100%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:100%;}
	.careers .offer_wrap .offer_list .offer_icon_box { text-align: center;}
	.careers .offer_wrap .offer_list .offer_icon_box img {width:60px;}
	.careers .offer_wrap .offer_list .offer_icon_box {vertical-align: middle;}

}

@media screen and (max-width:320px) {
}