  <footer>
			<div class="footer_inner">
				<div class="footer_info_wrap">
					<h1 class="footer_logo"><a href="#"><img src="images/common/logo.svg" alt=""><span class="blind">pointave</span></a></h1>
					<div class="footer_sitemap">
						<ul class="footer_sitemap_menu">
							<li class="footer_menu_item--go">
								<a href="#">ABOUT US</a>
								<ul>
									<li><a href="javascript:void(0);" class="contact_pop_btn">Contact Us</a></li>
									<li><a href="#">Scholarship</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">News</a></li>
								</ul>
							</li>
							<li class="footer_menu_item--go">
								<a href="#">COURSES</a>
								<ul>
									<li><a href="#">Elementary Courses</a></li>
									<li><a href="#">Middle & High School Courses</a></li>
									<li><a href="#">Debate</a></li>
									<li><a href="#">Test Preparation</a></li>
								</ul>
							</li>
							<li class="footer_menu_item--go">
								<a href="#">ADMISSIONS CONSULTING</a>
							</li>
							<li class="footer_menu_item">
								<a href="javascript:void(0);">CAMP</a>
								<ul>
									<li><a href="#">Summer Leader Camp</a></li>
									<li><a href="#">Summer Day Camp</a></li>
									<li><a href="#">Winter Boarding Camp</a></li>
									<li><a href="#">Winter Day Camp</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer_etc_wrap">
					<div class="footer_etc">
						<p class="copyright">Copyright Ⓒ POINT AVENUE PTE COMPANY LIMITED. All Rights Reserved.</p>
						<div class="footer_sns_menu">
							<ul>
								<li class="sns_icon_y"><a href="#"><span class="blind">youtube</span></a></li>
								<li class="sns_icon_f"><a href="#"><span class="blind">facebook</span></a></li>
								<li class="sns_icon_i"><a href="#"><span class="blind">instagram</span></a></li>
								<li class="sns_icon_l"><a href="#"><span class="blind">likeduin</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>