<header>
			<div class="header_inner">
				<h1 class="logo"><a href="#"><span class="blind">PointAve</span></a></h1>
				<div class="gnb">
					<div class="gnb_cont">
						<ul>
							<li class="gnb_menu_item"><a href="/">Point Avenue</a>
								<div class="sub_menu_wrap">
									<ul class="sub_menu">
										<li class="sub_menu_item"><a href="/about-us">About Us</a></li>
										<li class="sub_menu_item"><a href="/scholarship">Scholarship</a></li>
										<li class="sub_menu_item"><a href="/careers">Careers</a></li>
										<li class="sub_menu_item"><a href="/news">News</a></li>
									</ul> 
								</div>
							</li> 
							<li class="gnb_menu_item"><a href="/programs">Programs</a> 
								<div class="sub_menu_wrap">
									<ul class="sub_menu"> 
										<li class="sub_menu_item"><a href="/programs/elementary-courses">Elementary Courses</a></li>
										<li class="sub_menu_item"><a href="/programs/middle-high-school-courses">Middle & High School Courses</a></li>
										<li class="sub_menu_item"><a href="/programs/debate">Debate</a></li>
										<li class="sub_menu_item"><a href="/programs/test-preparation">Test Preparation</a></li>
									</ul>
								</div>
							</li>
							<li class="gnb_menu_item"><a href="/admissions-consulting">Admissions Consulting</a></li>
							<li class="gnb_menu_item"><a href="javascript:void(0);">Camp</a>
								<div class="sub_menu_wrap">
									<ul class="sub_menu">
										<li class="sub_menu_item"><a href="/camp/summer-leader-camp">Summer Leader Camp</a></li>
										<li class="sub_menu_item"><a href="/camp/summer-day-camp">Summer Day Camp</a></li>
										<li class="sub_menu_item"><a href="/camp/winter-boarding-camp">Winter Boarding Camp</a></li>
										<li class="sub_menu_item"><a href="/camp/winter-day-camp">Winter Day Camp</a></li>
									</ul>
								</div>
							</li>	
						</ul>
					</div>
					<div class="gnb_etc">
						<ul>
							<li class="search_area"><a href="javascript:void(0);" class="btn_search"><span class="blind">search</span></a></li>
							<li><a href="javascript:void(0);" class="btn_type_01 btn_color_yellow">Login</a></li>
							<li><a href="javascript:void(0);" class="btn_type_01 ">Sign Up</a></li>
							<li class="m_gnb_menu">
								<a href="javascript:void(0);" class="btn_hamburger">
									<span class="blind">전체메뉴</span>
									<i></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- 검색 마크업 :: UI없어 임의로 마크업 작업해둠(해당 부분 보류).기획 단계 확인 후, 작업 여부 결정-->
					<!--<div class="search">
						<div class="search_box">
							<div class="search_box_inner">
								<i class="icon_search"></i>
								<form action="" name="search_form">
									<input type="text" name="query" placeholder="여기에 검색어를 입력하세요." title="검색하기">
									<button type="submit">검색</button>
								</form>
							</div>
							<button type="button" class="btn_close">닫기</button>
						</div>
					</div>-->
					<!--// 검색 마크업 :: UI없어 임의로 마크업 작업해둠(해당 부분 보류).기획 단계 확인 후, 작업 여부 결정-->
				</div>
			</div>
		</header>
		<aside class="mobile_nav_wrap">
			<div class="mobile_nav">
				<div class="mobile_nav_header">
					<a href="javascript:;" class="btn_close_menu">
						<span class="blind">닫기</span>
					</a>
				</div>
				<div class="mobile_nav_body">
					<ul>
						<li class="gnb_menu_item"><a href="javascript:void(0);">Point Avenue</a>
							<ul class="sub_menu">
								<li class="sub_menu_item"><a href="/about-us">About Us</a></li>
								<li class="sub_menu_item"><a href="/scholarship">Scholarship</a></li>
								<li class="sub_menu_item"><a href="/careers">Careers</a></li>
								<li class="sub_menu_item"><a href="/news">News</a></li>
							</ul> 
						</li> 
						<li class="gnb_menu_item--go"><a href="javascript:void(0);">Courses</a> 
							<ul class="sub_menu"> 
								<li class="sub_menu_item"><a href="/programs/elementary-courses">Elementary Courses</a></li>
								<li class="sub_menu_item"><a href="/programs/middle-high-school-courses">Middle & High School Courses</a></li>
								<li class="sub_menu_item"><a href="/programs/debate">Debate</a></li>
								<li class="sub_menu_item"><a href="/programs/test-preparation">Test Preparation</a></li>
							</ul>
						</li>
						<li class="gnb_menu_item--go"><a href="/admissions-consulting">Admissions Consulting</a></li>
						<li class="gnb_menu_item"><a href="javascript:void(0);">Camp</a>
							<ul class="sub_menu">
								<li class="sub_menu_item"><a href="/camp/summer-leader-camp">Summer Leader Camp</a></li>
								<li class="sub_menu_item"><a href="/camp/summer-day-camp">Summer Day Camp</a></li>
								<li class="sub_menu_item"><a href="/camp/winter-boarding-camp">Winter Boarding Camp</a></li>
								<li class="sub_menu_item"><a href="/camp/winter-day-camp">Winter Day Camp</a></li>
							</ul>
						</li>	
					</ul>
				</div>
				<div class="mobile_nav_footer">
					<a href="javascript:;" class="btn_login">
						<span>Login</span>
					</a>
					<a href="javascript:;" class="btn_signin">
						<span>Sign Up</span>
					</a>
				</div>
			</div>
		</aside>